.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 100%;
}

.card {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.food_img {
  height: 250px;
}
.arrow_img {
  height: 13px;
}
.delivery_img {
  height: 35px;
  width: 70px;
}

.active{
  border-bottom: 3px solid red;
}